body {
    margin-top: 50px;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: initial !important;
}
@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
    .top-nav {
        margin-right:10px;
    }
}

.user-dropdown{
    color:white !important; 
}

.panel-heading a:hover{
    text-decoration: none;
}

#chat-log {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    #chat-log {
        padding-left: 200px;
    }
}

/* Top Navigation */

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #00AE98;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.navbar-inverse .navbar-toggle {
    border-color: #009B87;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #006154;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-collapse {
    border-color: #009B87;
}

/* Side Navigation */
@media (max-width: 768px) {
    .side-nav{
        float:left;
        width:50%
    }
    .top-nav{
        float:left;
    }
    #openAlert{
        padding-left:10px;
    }
    .navbar-collapse {
        background-color: #F1F1F1;
    }
    .navbar-inverse .navbar-nav > li > a, .user-dropdown {
        color: #00C2A9 !important;
    }
}

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 200px;
        width: 200px;
        margin-left: -200px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #F1F1F1;
        bottom: 0;
        overflow-x: hidden;
    }

    .side-nav > li > a {
        width: 200px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #00C2A9 !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #00C2A9;
    }
}

.navbar-inverse {
    background-color: #00C2A9;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    text-shadow: 1px 1px darkgrey;
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #000000;
}

.side-nav > li > ul > li > form {
    margin: 10px 15px 10px 38px;
}

.side-nav > li > ul > li > button {
    margin: 10px 15px 10px 38px;
    border: 0;
    background-color: transparent;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > button:hover {
    color: #fff;
}

.user-status {
    font-size: x-small;
    color: #029E1E;
}

#chat-log .panel-heading {
    position: fixed;
    width: inherit;
    border-bottom: 1px solid #E3E3E3;
    background-color: #ffffff;
}

#chat {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    padding-top: 25%;
    padding-bottom: 12%;
}

@media (min-width: 335px) {
    #chat {
        padding-top: 80px;
        padding-bottom: 33px;
    }
}

#chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

#chat li:last-child {
    border-bottom: 0;
}

#chat li.left .chat-body {
    margin-left: 60px;
}

#chat li.right .chat-body {
    margin-right: 60px;
}

#chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .fa, #chat .fa {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    max-height: 100%;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 15px;
    border: 0;
}

.send-message {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: -moz-available;
    border-top: 1px solid #E3E3E3;
    background-color: #ffffff;
}

.send-message .form-group {
    margin-bottom: 0;
}

#all-group {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

#all-group li {
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

#all-group .fa {
    margin-right: 5px;
}

#all-group li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.modal-body {
    max-height: 500px;
    overflow-y: scroll;
}

.modal-select {
    overflow-y: initial !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#join-modal {
    color: black;
    margin: 10px 28px;
}

.form-info {
    display:block;
    padding:10px 0;
}

.modal-body {
    min-height:120px;
}

#user-mgmt {
    color: black;
    margin: 10px 28px;
}

.tooltip {
    text-align: left;
}


#add-group-form {
    padding: 15px 55px;
}

#add-group-form input {
    width: 100%;
    margin: 0;
    vertical-align: middle;
    background: #f8f8f8;
    border: 2px solid #ddd;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#add-group-form .form-group {
    margin-top: 10px;
}

/* Toggle switch */

.onoffswitch {
    position: relative; width: 98px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public";
    padding-left: 10px;
    background-color: #337AB7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Private";
    padding-right: 10px;
    background-color: #5CB85C; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 64px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.panel-heading h3 {
    float: left;
}
#option-chatbox{
    display: inline-block;
    margin: 25px 25px 0 15px;
}